# Monitoring
snakeviz

# Config system
hydra-core

# Code quality
black

# Logging
wandb
tensorboardX
tensorboard
gputil

# Utils
matplotlib 
tqdm
imageio[ffmpeg]
pyvis
pynvml
tbutils

# Project libraries
accelerate
hf_xet
numpy
transformers
openai
huggingface-hub
gymnasium
pygame
minigrid

# Torch installation
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126